.btn {
  aspect-ratio: 1/1;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 4px solid rgb(255, 255, 255);
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.5rem;
}

.btn.active {
  border-color: orange;
  color: orange;
}

.btn.inactive {
  opacity: .3;
  border-color: gray;
  color: gray;
  cursor: not-allowed;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  border-color: orange;
  color: orange;
  outline: none;
}

.btn:disabled {
  border-color: gray;
  color: gray;
  cursor: not-allowed;
}